@import "global";
@import "vars";
@import "fonts";

//  HEADER ========================================================

.header {
	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 122px;
		font-weight: 700;

		@include _480 {
			min-height: 60px;
		}
	}

	&__user-box {
		display: flex;
	}

	&__logo {
		@include _480 {
			width: 80px;
			height: 16px;
			background-image: url(../images/logo-mobile.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&__logo-img {
		@include _480 {
			display: none;
		}
	}

	&__address {
		width: 265px;
		font-style: normal;
		margin-right: 65px;
		position: relative;
		padding-left: 30px;

		&::before {
			content: "";
			background-image: url(../images/icon/map-marker.svg);
			width: 30px;
			height: 30px;
			position: absolute;
			left: 2px;
			bottom: 5px;
		}

		@include _1280 {
			margin-right: 0;
		}

		@include _920 {
			display: none;
		}
	}
}

.menu {
	&__list {
		@include _920 {
			display: none;
		}
	}

	&__item {
		display: inline-block;

		& + .menu__item {
			margin-left: 50px;

			@include _1280 {
				margin-left: 15px;
			}
		}
	}

	&__categories {
		min-height: 53px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: $base;

		@include _920 {
			position: fixed;
			left: 0;
			top: 0;
			max-width: 300px;
			width: 100%;
			height: auto;
			padding: 55px 0;
			background-color: #fff;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
			flex-direction: column;
			align-items: flex-start;
			justify-content: start;
			transition: all 0.5s ease-in-out;
			transform: translateX(-100%);
		}

		&.open {
			transition: all 0.5s ease-in-out;
			transform: translateX(0);
		}
	}

	&__categories-item {
		@include _920 {
			padding: 0 10px;
			width: 100%;
		}
	}

	&__mobile {
		display: none;

		@include _920 {
			display: block;
			padding: 0 10px;
			width: 100%;
		}
	}

	&__categories-link {
		padding: 15px 0 14px;
		position: relative;
		transition: all 0.3s;

		@media (min-width: 921px) {
			&:hover {
				color: lighten($accent, 10%);
			}

			&::before {
				content: "";
				position: absolute;
				left: auto;
				right: 0;
				bottom: -3px;
				width: 0;
				height: 3px;
				background-color: $accent;
				transition: all 0.3s;
			}

			&:hover::before {
				right: auto;
				left: 0;
				width: 100%;
			}
		}

		@include _920 {
			margin-bottom: 45px;
			padding: 0;
			padding-left: 45px;
			display: block;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
	}

	&__burger {
		display: none;
		width: 34px;
		height: 34px;
		background-color: transparent;
		position: relative;

		& span {
			width: 100%;
			height: 3px;
			background-color: $text;
			position: absolute;
			left: 0;

			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: $text;
			}

			&::before {
				top: -10px;
			}

			&::after {
				bottom: -10px;
			}
		}

		@include _920 {
			display: block;
		}
	}
}

.mobile__link {
	margin-bottom: 45px;
	padding: 0;
	display: block;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	& img {
		margin-right: 20px;
	}
}

.menu__mobile-close {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;

	@include _920 {
		display: block;
	}
}

.user {
	&__list {
		margin-right: 15px;

		@include _480 {
			margin-right: 0;
		}
	}

	&__item {
		display: inline-block;
		padding-right: 10px;
	}
}

.basket {
	position: relative;

	&__num {
		position: absolute;
		right: -15px;
		bottom: -7px;
		width: 20px;
		height: 20px;
		font-size: 10px;
		font-weight: 500;
		line-height: 20px;
		border-radius: 50%;
		background-color: $accent;
		color: #fff;
		text-align: center;
	}
}

//  HEADER END ========================================================

// ADVERTISING ========================================================

.advertising {
	margin-top: 80px;

	@include _920 {
		margin-top: 0;
	}
	&__inner {
		display: flex;

		@include _1280 {
			display: block;
		}
	}

	&__slider {
		max-width: 870px;

		@include _1280 {
			max-width: 100%;
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5;
			background-color: transparent;
		}

		.slick-next {
			right: 15px;
		}

		.slick-prev {
			left: 15px;
		}

		.slick-dots {
			position: absolute;
			bottom: 40px;
			left: 50%;
			transform: translate(-50%);

			@include _480 {
				bottom: 10px;
			}

			& button {
				margin: 0;
				padding: 0;
				font-size: 0;
				width: 11px;
				height: 11px;
				border: 1px solid #fff;
				border-radius: 50%;
				background-color: transparent;

				@include _480 {
					width: 6px;
					height: 6px;
				}
			}

			& li {
				display: inline-block;
				padding: 0 5px;
			}

			& .slick-active button {
				background-color: #fff;
			}
		}
	}

	&__slid {
		object-fit: cover;

		@include _1280 {
			width: 100%;
		}
	}
}

.advertisement {
	&__sale {
		max-width: 265px;
		margin-left: 36px;
		text-align: center;
		border: 1px solid #cdcdcd;
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include _1280 {
			max-width: 100%;
			margin-left: 0;
		}
	}

	&__sale-top {
		display: flex;
		justify-content: space-between;
	}

	&__sale-info {
		width: 90px;
		height: 30px;
		background-color: $accent;
		color: #fff;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		text-align: center;
		padding: 8px 0;
	}

	&__sale-price {
		font-family: "Barlow" sans-serif;
		text-align: end;
	}

	&__sale-price--new {
		font-weight: 700;
		font-size: 27px;
		line-height: 32px;
		color: $accent;
		margin-right: 6px;
		padding-right: 20px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 8px;
			background-image: url(../images/icon/stock-ruble.svg);
			width: 15px;
			height: 18px;
		}
	}

	&__sale-price--old {
		font-weight: 400;
		font-size: 14px;
		color: $grey;
		margin-right: 4px;
		padding-right: 15px;
		position: relative;
		background-image: url(../images/icon/stock-line-old.svg);
		background-repeat: no-repeat;
		background-position: 42px;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			top: 7px;
			background-image: url(../images/icon/stock-ruble-old.svg);
			width: 8px;
			height: 10px;
		}
	}

	&__sale-img {
		object-fit: contain;
	}

	&__sale-title {
		font-size: 18px;
		line-height: 21px;
		font-weight: 700;
		margin-bottom: 7px;
	}

	&__sale-footer {
		background-color: $base;
		padding: 25px 20px;
		font-size: 18px;

		& span {
			font-family: "Barlow" sans-serif;
			font-weight: 700;
			color: $accent;
		}
	}
}

// ADVERTISING END =====================================================

// SEARCH =====================================================

.search {
	&__tabs {
		margin-bottom: 25px;

		@include _480 {
			margin-bottom: 10px;
			text-align: center;
		}
	}

	&__tabs-item {
		padding: 11px 26px 12px;

		@include _768 {
			padding: 10px;
			font-size: 14px;
		}

		@include _480 {
			padding: 11px 26px 12px;
		}
	}

	&__tabs-item.tabs__item--active {
		background-color: $base;
		border-radius: 5px;
		font-weight: 700;
	}

	&__content-form {
		display: flex;
	}

	&__content-input {
		background-color: $base;
		border-radius: 3px;
		padding: 0 20px;
		font-size: 16px;
		line-height: 19px;
		color: #656464;
		width: 100%;

		@include _768 {
			font-size: 13px;
		}
	}

	&__content-btn {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.12em;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		background-color: $accent;
		border-radius: 3px;
		padding: 16px 39px 17px;
		margin-left: -3px;

		@include _768 {
			font-size: 13px;
			line-height: 9px;
		}

		@include _480 {
			padding: 16px 10px 17px;
			font-size: 12px;
			line-height: 3px;
		}
	}
}

// SEARCH END =====================================================

// CATEGORIES =====================================================

.categories {
	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		grid-gap: 1.5rem;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		padding: 20px 20px 16px;
		border: 1px solid #cdcdcd;
		border-radius: 3px;
		transition: all 0.4s;

		&:hover {
			box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
			color: $accent;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		font-size: 23px;
		line-height: 28px;
		font-weight: 700;
	}

	&__text {
		font-size: 14px;
		line-height: 17px;
		color: $grey;
	}

	&__images {
		object-fit: cover;
		max-width: 210px;
	}
}

// CATEGORIES END ==============================================

// PRODUCTS ==============================================

.products,
.offers {
	&__tabs {
		margin-bottom: 25px;

		@include _768 {
			display: flex;
			flex-direction: column;
		}
	}

	&__tabs-item {
		font-size: 15px;
		line-height: 18px;
		padding-bottom: 10px;

		& + .products__tabs-item {
			margin-left: 50px;

			@include _768 {
				margin-left: 0;
				margin-top: 15px;
			}
		}
	}

	.tabs__item--active {
		border-bottom: 2px solid $accent;
		font-weight: 500;
	}

	.slick-list {
		min-height: 450px;
	}

	.slick-slide {
		margin-right: 30px;
		margin-top: 20px;
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 5;
		background-color: transparent;
	}

	.slick-next {
		right: -25px;
	}

	.slick-prev {
		left: -25px;
	}

	&__item {
		position: relative;

		&:hover {
			color: $accent;

			.products-item__hover-text {
				opacity: 1;
			}
		}
	}

	&__item--wrap {
		border: 1px solid #cdcdcd;
		border-radius: 3px;
		position: relative;
		max-width: 270px;
		width: 100%;
		min-height: 403px;
		padding: 52px 29px 31px;
		text-align: center;
		transition: all 0.4s;

		&:hover {
			box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
		}
	}

	&__item-img {
		object-fit: contain;
		min-height: 200px;
		margin: 0 auto 12px;
	}

	&__item-title {
		margin-bottom: 25px;
		font-size: 18px;
		line-height: 21px;
	}

	&__item-price {
		font-family: "Barlow" sans-serif;
		font-size: 30px;
		font-weight: 700;
		line-height: 36px;
	}

	&__item-basket {
		position: absolute;
		bottom: -1px;
		right: -1px;
		width: 60px;
		height: 40px;
		background-color: $accent;
		border-radius: 10px 0px 0px 0px;
		transition: all 0.4s;

		&:hover {
			background-color: darken($accent, 10%);
		}

		&::before {
			content: "";
			position: absolute;
			top: 10px;
			left: 14px;
			width: 30px;
			height: 23px;
			background-image: url(../images/icon/basket-white.svg);
			background-repeat: no-repeat;
		}
	}

	&__more {
		text-align: center;
		margin: 15px 0 86px;
	}

	&__more-link {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		padding: 17px 43px;
		background-color: $base;
		transition: all 0.4s;

		&:hover {
			background-color: darken($base, 10%);
		}
	}
}

.favorite-icon {
	position: absolute;
	top: 15px;
	right: 20px;
	width: 24px;
	height: 22px;
	background-color: transparent;
	z-index: 5;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 24px;
		height: 22px;
		background-image: url(../images/icon/heart.svg);
	}
}

.favorite-icon--active::before {
	background-image: url(../images/icon/heart-active.svg);
}

.products-item__hover-text {
	opacity: 0;
	padding: 18px 20px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	position: absolute;
	left: 0;
	right: 0;
	top: 25%;
	color: $text;
	transition: all 0.5s;
}

.products__item--wrap.products__item--not-available .products__item-price {
	display: none;
}

.products__item--notify-text {
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	color: $text;
	margin-bottom: 13px;
}

.products__item--notify-box .products__item--notify-link {
	font-size: 16px;
	line-height: 19px;
	color: $accent;
	border-bottom: 1px solid $accent;
}

.products__item--notify-box {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 25px;
}

.products__item--wrap.products__item--not-available .products__item--notify-box {
	display: block;
}

.products__item--wrap.products__item--not-available .products__item-basket {
	display: none;
}

.products__item--wrap.products__item--not-available {
	padding: 52px 29px 25px;
}

.products__item--wrap.products__item--not-available .products__item-title {
	margin-bottom: 9px;
}

// PRODUCTS END ============================================

// BREADCRUMBS ============================================

.breadcrumbs {
	&__list {
		padding: 43px 0 41px;
		width: 1200px;
		overflow: hidden;
	}

	&__item {
		display: inline-block;
		position: relative;
		font-size: 15px;
		line-height: 18px;
		color: $grey;
		transition: color 0.3s ease-in;
	}

	&__item:not(:last-child) {
		padding-right: 20px;

		&::before {
			content: "";
			background-image: url(../images/icon/breadcrumbs-arrow.svg);
			width: 6px;
			height: 11px;
			position: absolute;
			right: 3px;
			top: 3px;
		}

		&:hover {
			color: lighten($accent, 10%);
		}
	}
}

// BREADCRUMBS END ==========================================

// CATALOG ==========================================

.catalog {
	.products__item--wrap {
		padding: 52px 19px 25px;
	}

	&__filter {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	&__filter-item {
		font-size: 14px;
		line-height: 17px;
		opacity: 0.7;
		background-color: $base;
		padding: 4px 23px;
		border-radius: 3px;

		&:not(:last-child) {
			margin-right: 8px;
		}
	}

	&__filter-item--active {
		background-color: $accent;
		color: #fff;
	}

	&__filter-btn {
		background-color: transparent;
		opacity: 0.3;
	}

	&__filter-btn--active {
		opacity: 1;
	}

	&__filter-btn--grid {
		margin-right: 10px;
	}

	&__inner {
		display: flex;
	}

	&__aside {
		min-width: 290px;
		margin-right: 10px;
	}

	&__product-grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__product-pagination {
		margin: 26px auto 0;
	}
}

.product-item__list {
	width: 100%;

	.products__item--wrap {
		max-width: 100%;
		min-height: 375px;
	}
}

.catalog__filter-sorting {
	.catalog__filter-category {
		margin-right: 34px;
		font-size: 14px;
		line-height: 17px;
	}

	.jq-selectbox__select {
		padding: 8px 46px 8px 20px;
		border: 1px solid #d7d9df;
	}

	.jq-selectbox__dropdown {
		top: 34px;
		width: 175px;
		background-color: #fff;
		border: 1px solid #e0e0e0;

		li {
			padding: 8px 20px;
			cursor: pointer;
			transition: color 0.3s;

			&:hover {
				color: $accent;
				background: rgba(107, 126, 172, 0.05);
			}
		}
	}

	.jq-selectbox__trigger-arrow {
		position: absolute;
		right: 12px;
		top: 13px;
		width: 12px;
		height: 8px;
		background-image: url(../images/icon/drop-down.svg);
		user-select: none;
	}

	.catalog__filter-category.dropdown.opened {
		.jq-selectbox__trigger-arrow {
			background-image: url(../images/icon/drop-up.svg);
		}
	}
}

.product {
	&__pagination-list {
		display: flex;
	}

	&__pagination-item {
		font-family: "Barlow" sans-serif;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: $grey;
		border: 2px solid transparent;
		width: 39px;
		height: 39px;
		padding: 6px 0;
		margin: 0 5px;
		transition: color 0.3s ease-in;

		&:hover {
			color: $accent;
		}
	}

	&__pagination-item--active {
		border: 2px solid $accent;
		color: $accent;
		font-weight: 600;
	}
}

.aside {
	&__filter-tabs {
		margin-bottom: 40px;
	}

	&__filter-item:first-child {
		margin-right: 42px;
	}

	&__filter-item.tabs__item {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.09em;
		text-transform: uppercase;
		color: $grey;
		padding-bottom: 7px;
		transition: color 0.3s ease-in;

		&:hover {
			color: lighten($accent, 15%);
		}

		&.tabs__item--active {
			font-weight: 700;
			border-bottom: 2px solid $accent;
			color: $text;
		}
	}
}

.aside-filter {
	&__item-drop {
		margin-bottom: 40px;
	}

	&__item-title {
		font-size: 16px;
		line-height: 19px;
		font-weight: 600;
		padding-left: 26px;
	}

	&__item-list {
		margin-bottom: 40px;
	}

	&__search {
		border: 1px solid #e0e0e0;
		width: 100%;
		margin-bottom: 27px;
	}

	&__search-modal {
		width: 100%;
		padding: 8px 20px;
		font-size: 12px;
		line-height: 14px;

		&::placeholder {
			color: #bdbec2;
		}
	}

	&__btn {
		text-align: center;
	}

	&__btn-choice {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.12em;
		padding: 17px 85px;
		margin-bottom: 15px;
		text-transform: uppercase;
		color: #bdbec2;
		background-color: #f0f0f4;
		transition: all 0.4s;

		&:hover {
			color: $text;
			background-color: darken(#f0f0f4, 10%);
		}
	}

	&__options {
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 15px;
	}

	&__options-list {
		display: none;
	}

	&__options-item {
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 5px;
	}

	&__options-link {
		display: block;
		transition: all 0.3s;

		&:hover {
			color: $accent;
		}
	}

	&__btn-reset {
		font-size: 13px;
		line-height: 16px;
		border-bottom: 1px solid $grey;
		background-color: transparent;
		color: $grey;
		transition: all 0.3s;

		&:hover {
			border-bottom: 1px solid $accent;
			color: $accent;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	}

	&__content-radio {
		flex-wrap: nowrap;
	}

	&__content-label {
		user-select: none;
		cursor: pointer;
	}

	&__content-box {
		width: 50%;
		font-size: 14px;
		line-height: 17px;
		padding-bottom: 20px;

		.jq-checkbox,
		.jq-radio {
			vertical-align: -2px;
			width: 14px;
			height: 14px;
			margin-right: 12px;
			border-radius: 3px;
			background-color: transparent;
		}

		.jq-checkbox.checked .jq-checkbox__div {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: $accent;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 2px;
				background-image: url(../images/icon/check-mark.svg);
				width: 8px;
				height: 6px;
				transform: translateY(-50%);
			}
		}

		.jq-radio.checked .jq-radio__div {
			width: 100%;
			height: 100%;
			background-color: $accent;
		}
	}
}

.aside-filter__btn {
	.aside-filter__options::before {
		left: auto;
		right: 35px;
	}
}

.aside-filter__item-drop {
	.aside-filter__more {
		width: 100%;
	}
}

.content-box__radio {
	&:nth-child(2) {
		margin-right: 20px;
	}
}

.item-title__drop {
	position: relative;
	cursor: pointer;
	user-select: none;
	transition: color 0.3s ease-in;

	&:hover {
		color: $accent;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 4px;
		width: 12px;
		height: 8px;
		background-image: url(../images/icon/drop-down.svg);
	}
}

.item-title__drop--active::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 4px;
	width: 12px;
	height: 8px;
	background-image: url(../images/icon/drop-up.svg);
}

.range-slider {
	min-height: 72px;
}

.irs-max,
.irs-min {
	display: none;
}

.irs-from {
	left: 0 !important;
}

.irs-to {
	left: 200px !important;
}

.irs-from,
.irs-single,
.irs-to {
	top: 55px;
}

.irs--flat .irs-line {
	top: 20px;
	height: 1px;
	background-color: #e0e0e0;
	border-radius: 4px;
}

.irs--flat .irs-bar {
	top: 20px;
	height: 3px;
	background-color: $accent;
}

.irs--flat .irs-handle > i:first-child {
	top: -5px;
	left: 50%;
	width: 8px;
	height: 8px;
	margin-left: 0;
	background-color: $accent;
	border-radius: 100%;
	transition: background-color 0.3s ease;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
	font-family: "Barlow" sans-serif;
	color: $text;
	font-size: 14px;
	line-height: 17px;
	text-shadow: none;
	padding: 0;
	padding-left: 26px;
	background-color: transparent;
	border-radius: 0;
	text-decoration: underline;

	&::before {
		display: none;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		font-family: "SFProDisplay" sans-serif;
		color: $grey;
	}
}

.irs--flat .irs-from::after {
	content: "от";
}

.irs--flat .irs-to::after {
	content: "до";
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
	background-color: darken($accent, 15%);
	cursor: pointer;
}

.aside-filter__item-list {
	.filter__item-list {
		display: flex;
		justify-content: space-between;
		margin-bottom: 12px;
		padding-bottom: 14px;
		border-bottom: 2px solid $grey;
	}

	.filter-style {
		border: none;
	}

	.jq-selectbox__select {
		font-family: "Barlow" sans-serif;
		font-size: 14px;
		line-height: 17px;
		color: $text;
		padding-right: 44px;
		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			color: $accent;
		}
	}

	.jq-selectbox__trigger-arrow {
		position: absolute;
		right: 20px;
		top: 5px;
		width: 12px;
		height: 8px;
		background-image: url(../images/icon/drop-down.svg);
		user-select: none;
	}

	.item-list__select.dropdown.opened {
		.jq-selectbox__trigger-arrow {
			background-image: url(../images/icon/drop-up.svg);
		}
	}

	.jq-selectbox__dropdown {
		right: 2px;
		left: auto !important;
		top: auto !important;
		background-color: #fff;
		border: 1px solid #e0e0e0;

		ul {
			max-height: 100% !important;
		}

		li {
			font-family: "Barlow" sans-serif;
			font-size: 14px;
			line-height: 17px;
			padding: 2px 30px 2px 15px;
			color: $text;
			cursor: pointer;
			transition: color 0.3s;

			&:hover {
				color: $accent;
				background: rgba(107, 126, 172, 0.05);
			}
		}

		li:first-child {
			margin-top: 7px;
		}
	}
}
.aside-filter__item-drop--btn {
	.filter-content--btn {
		flex-wrap: nowrap;
		justify-content: space-between;

		.filter-style__select-text {
			text-transform: uppercase;
			letter-spacing: 0.07em;
			color: $grey;
			padding: 5px 17px;
			background-color: $base;
		}

		.aside-filter__content-box {
			width: auto;
			font-weight: 700;
			font-size: 12px;
			line-height: 14px;
			padding-bottom: 0;
		}

		.jq-checkbox {
			width: 0;
			height: 0;
			margin-right: 0;
			border-radius: 0;
		}

		.filter-style__select {
			border: none;
		}

		.filter-style__select.checked {
			border: none;
		}

		.select-text__checked {
			background-color: $accent;
			color: #fff;
		}

		.select-text__disabled {
			background-color: $text;
			color: #fff;
		}

		.jq-checkbox__div::before {
			display: none;
		}

		.content-label__disabled {
			pointer-events: none;
		}
	}

	.filter-content--color-btn {
		flex-wrap: wrap;
		justify-content: space-around;

		.aside-filter__content-box {
			font-weight: 400;
		}

		.aside-filter__content-box:nth-last-child(n + 3) {
			margin-bottom: 20px;
		}

		.filter-style__select-text {
			text-transform: initial;
			letter-spacing: normal;
			border-radius: 3px;
			color: $text;
		}

		.select-text__checked {
			color: #fff;
		}
	}
}

// CATALOG END ==========================================

// CARD-PRODUCT ==========================================

.card-product {
	&__inner {
		display: flex;
		padding: 44px 0 80px;
	}

	&__img-box {
		font-family: "Barlow" sans-serif;
		max-width: 500px;
		margin-right: 60px;
		text-align: center;
		position: relative;
	}

	&__sale {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 15px;
		line-height: 18px;
		padding: 13px 24px;
		text-transform: uppercase;
		background-color: $accent;
		color: #fff;
		border-radius: 3px;
		letter-spacing: 0.12em;
	}

	&__img-box a {
		font-family: "SFProDisplay" sans-serif;
		font-size: 15px;
		line-height: 18px;
		color: $accent;
	}

	&__images {
		padding-top: 60px;
	}

	&__price-old {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 12px;
		color: rgba($text, $alpha: 0.6);
		position: relative;

		&::before {
			content: "";
			width: 27%;
			height: 1px;
			bottom: 16px;
			position: absolute;
			background-color: rgba(47, 48, 53, 0.6);
			transform: rotate(-10deg);
		}
	}

	&__price-new {
		font-weight: 700;
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 17px;
	}

	&__content {
		padding: 0 40px;
	}

	&__title {
		font-weight: 700;
		font-size: 30px;
		line-height: 36px;
		padding-bottom: 10px;
	}

	&__code {
		font-size: 15px;
		line-height: 18px;
		color: rgba(47, 48, 53, 0.6);
		margin-bottom: 23px;
	}

	&__rating {
		position: relative;
		margin-bottom: 50px;
	}

	&__favorite {
		top: 6px;
		left: 0;
	}

	&__comparison {
		width: 20px;
		height: 28px;
		margin-left: 50px;
		margin-right: 25px;
		background-color: transparent;
		background-image: url(../images/content/comparison.svg);
	}

	&__tabs {
		font-size: 20px;
		line-height: 24px;
		color: rgba(47, 48, 53, 0.6);
		transition: color 0.4s;

		&:hover {
			color: $accent;
			transition: color 0.4s;
		}
	}
	&__tabs.tabs__item--active {
		font-weight: 700;
		color: $text;
		border-bottom: 2px solid $accent;
	}

	&__tabs:first-child {
		margin-right: 35px;
	}

	&__item {
		display: flex;
		border-bottom: 1px solid rgba(47, 48, 53, 0.1);
	}

	&__item:not(:last-child) {
		margin-bottom: 15px;
	}
	&__item:last-child {
		margin-bottom: 26px;
	}

	&__item-left {
		max-width: 370px;
		width: 100%;
		margin-right: 20px;
	}

	&__more {
		margin-bottom: 45px;
	}

	&__btn {
		font-size: 14px;
		line-height: 17px;
		padding: 17px 53px;
		text-align: center;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		border-radius: 3px;
		background-color: $accent;
		color: #fff;
		transition: background-color 0.4s;

		&:hover {
			background-color: darken($accent, 10%);
			transition: background-color 0.4s;
		}
	}
}

.jq-ry-container {
	display: inline-block;
}

// CARD-PRODUCT END ==========================================

// DETAILED-INFO ==========================================

.detailed-info {
	margin-bottom: 100px;
	&__tabs {
		display: flex;
		justify-content: space-between;
		padding: 23px 34px;
		background-color: $base;
		margin-bottom: 50px;
	}

	&__tab {
		color: rgba(47, 48, 53, 0.6);
		transition: color 0.3s;

		&:hover {
			color: $accent;
			transition: color 0.3s;
		}
	}

	&__tab.tabs__item--active {
		color: $text;
		border-bottom: 2px solid $accent;
	}

	&__export-top {
		margin-bottom: 50px;
		font-size: 17px;
		line-height: 20px;
		color: rgba(47, 48, 53, 0.7);
	}
}

.export-top {
	&__search-lable {
		position: relative;
		margin-right: 155px;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 10px;
			width: 16px;
			height: 17px;
			background-image: url(../images/icon/search.svg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			transform: translateY(-40%);
		}
	}

	&__search {
		max-width: 313px;
		width: 100%;
		height: 33px;
		font-size: 13px;
		padding: 0 15px;
		margin-left: 17px;
		padding-right: 30px;
		color: $grey;
		background-color: $base;
		border-radius: 3px;
	}

	&__radio-lable {
		margin-right: 57px;
	}

	&__radio {
		vertical-align: -2px;
		width: 14px;
		height: 14px;
		margin-right: 18px;
		border-radius: 1px;
		background-color: transparent;
	}

	.filter-style__select.checked {
		border: 2px solid #1c62cd;
		border-radius: 2px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 6px;
			height: 6px;
			border-radius: 1px;
			background-color: $accent;
			transform: translate(-50%, -50%);
		}
	}
}

.export-info {
	&__item {
		display: flex;
		font-size: 16px;
		line-height: 19px;
		padding: 20px 0;
		border-bottom: 1px solid $base;
		color: rgba(47, 48, 53, 0.7);
	}

	&__title {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 24px;
		border-bottom: none;
		color: $text;
	}

	&__address {
		max-width: 300px;
		width: 100%;
		padding-right: 113px;
	}

	&__works {
		max-width: 260px;
		width: 100%;
		padding-right: 95px;
	}

	&__works-box {
		display: flex;
		justify-content: space-between;
	}

	&__works-box:first-child {
		margin-bottom: 9px;
	}

	&__available {
		max-width: 217px;
		width: 100%;
		padding-right: 100px;
	}

	&__num {
		max-width: 265px;
		width: 100%;
	}

	&__btn {
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.12em;
		height: 35px;
		padding: 9px 40px;
		border-radius: 3px;
		background-color: $accent;
		color: #fff;
		text-transform: uppercase;
	}
}
.works-day {
	display: inline-block;
}
.works-time {
	display: inline-block;
}

// DETAILED-INFO END ==========================================

// FOOTER ============================================

.footer {
	background-color: $base;
	&__top {
		padding: 43px 0 46px;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
	}

	&__col {
		font-size: 14px;
		line-height: 17px;
		font-weight: 700;
	}

	&__info-title {
		margin-bottom: 9px;
	}

	&__info-item:not(:last-child) {
		margin-bottom: 9px;
	}

	&__info-link {
		font-weight: 400;
		transition: color 0.4s ease;

		&:hover {
			color: $accent;
		}
	}

	&__social {
		margin-top: 40px;
	}

	&__social-link {
		width: 30px;
		height: 30px;

		&:not(:last-child) {
			margin-right: 30px;
		}

		&:last-child {
			margin-right: 76px;
		}
	}

	&__copy-inner {
		padding-bottom: 22px;
		text-align: center;
	}

	&__copy-text {
		font-size: 10px;
		line-height: 12px;
		color: #48494d;

		&:not(:first-child) {
			margin-left: 80px;
		}
	}
}
.subscription {
	&__title {
		max-width: 225px;
		margin-bottom: 34px;
	}

	&__form {
		max-width: 310px;

		& input {
			font-size: 14px;
			line-height: 17px;
			padding: 8px 12px 9px;
			background-color: #fff;

			&::placeholder {
				color: $grey;
			}
		}
	}

	&__btn {
		font-size: 11px;
		line-height: 13px;
		font-weight: 600;
		text-align: center;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: #ffffff;
		background-color: $accent;
		padding: 11px 16px 10px;
		margin-left: -2px;
		transition: all 0.4s;

		&:hover {
			background-color: darken($accent, 10%);
		}
	}
}

.instagram {
	background-image: url(../images/icon/instagram.svg);
}

.vk {
	background-image: url(../images/icon/vk.svg);
}

.facebook {
	background-image: url(../images/icon/facebook.svg);
}

.youtube {
	background-image: url(../images/icon/youtube.svg);
}
// FOOTER END ============================================
